@charset "iso-8859-1";

/* Header styles */
div.header {
	padding: 10px;
	background: #f0f0f0;
	margin: 10px;
	border-radius: 40px;
}

ul.header {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.header li {
	list-style-image: none;
	float: left;
	margin-right: 10px;
}

ul.header a {
	text-transform: uppercase;
	color: #000066;
	font-size: 14px;
	padding: 10px 15px;
	line-height: 18px;
	text-decoration: none;
	border-radius: 20px;
	display: block;
}

ul.header a:hover {
	background: rgba(0,0,0,0.2);
}

ul.header a:active, ul a.active {
	background: rgba(0,0,0,0.3);
}


html { overflow-y: scroll;}

.gm_vid	{ 	width: 560px;
			height: 315px;
			margin: 0 auto;
			float: center;
			display: block; 
		}

.venue	 		{  	background-color: #C7DCFE;
				color: #000000;
				height:20px;
				padding-left: 6;
			}
.cancelledvenue 	{  	background-color: lightgrey;
				color: #000000;
				height:20px;
				text-decoration: none
			}

.cancelled	{	color: red;
			font-size: 80%;
			font-weight: bold;
			text-decoration: underline;
		}
.month, th 		{  	font-weight: bold;
				color: #FFFFFF;
				background-color: #0099FF;
				font-size: small;
				text-align: left;
				padding-left: 10;
				height:30px;
			}
.title 		{	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
				font-size: 220%;
				font-weight: bold;
				color: #000066
			}
.fieldlabel	{	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
				font-weight: bold;
				color: #FFFFFF;
				background-color: #0099FF;
				font-size: 80%;
				text-align: left;
				height:30px
			}
.venuelabel {  	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
				color: #000000;
				background-color: #C7DCFE;
			}
.button 	{  	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
				color: #000000;
				font-weight: bold;
				font-size: 80%;
				height:20px
			}

.cost { text-align: center }
.postage { text-align: center }

/* Contact Us page styles */
.address 	{ margin: 0em 0em 0em 2em }
.telephone 	{ margin: 0em 0em 0em 2em }
.e-mail 	{ margin: 0em 0em 0em 2em }

body		{ font-family: 'Averia Libre', cursive;
			  color: #000066;
			  font-weight: normal;
			  line-height: 175%;
			  font-size: 18px;
			}

h1 			{ font-weight: bold; 
			  font-size: 110%;}
h2 			{ font-weight: normal; 
			  font-size: 110%;}

ul { margin: 0;
     padding: 0; }

li			{ color: #000066;
			margin-left: 20px; 
			} 
a 			{	color: #333399}
a:hover 	{	color: #333399;
				background-color: #FFFF99
			}

img			{ margin: 1em }
img#mainHead		{ 	margin: 0em;
				text-align: left;
			}
p#mainHead		{ 	color: #000066;
				text-align: center;
				font-size: 130%;
				font-weight: normal;
				margin: 0em;
			}
div#mainHead 	{text-align: center;}

			
#new	{ color: green; font-weight: bold; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; }


#BottleSide,#Stand {
	float: left;
	margin: 10px 2em 0 0;
	padding: 1px;
  	border: 1px grey dashed;
  }

#BottleFront {
	float: right;
	margin: 10px;
	padding: 1px;
  	border: 1px grey dashed;
  }
